<header>
    <h1>Game of Thrones</h1>
    <nav>
        <ul>
            <li><a href="{{ path('app_characters') }}">Personnages</a></li>
            <li><a href="{{path('app_houses')}}">Maisons</a></li>
        </ul>
    </nav>
    <div class="separator"></div>
</header>
<main>
    <div class="wrapper">